@tailwind base;
@tailwind components;
@tailwind utilities;

/* minimal baseline styles for the app */
html { scroll-behavior: smooth; }
body { -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
